h2{
    color: rgb(255, 251, 251);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

    margin-left: 2cm;
               }

               .a1{

                margin-left: 130ch;
                margin-top: 5ch;
            }